.todo_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
}

.todo_wrapper > div {
  border: 1px solid black;
  padding: 25px;
  border-radius: 25px;
}