<div
  [class]="name"
  [style.color]="number > 9 ? 'red' : 'green'"
  [id]="'elem_+number'"
>
  {{ title }}

  <!-- <h2 *ngIf="number < 10">Hello Angular!</h2> -->

  @if (number < 10) {
  <h2>Hello Angular!</h2>
  } @else {
  <h2>Test Value</h2>
  }

  <!-- <ul>
    <li *ngFor="let elem of array; let i = index">
      {{ elem }}
    </li>
  </ul> -->

  <ul>
    @for (elem of array; track $index) {
    <li>{{ elem }}</li>
    {{
      $index
    }}
    } @empty {
    <li>empty</li>
    }
  </ul>

  <

  <app-user-list 
      [users]='users'
      [isShow]='isShow'
      [name]='name'
      />

      <!-- 
Создайте новый компонент Number. Внутри компонента создайте заголовок h2 с текстом
'Number', а под заголовком передайте как проп сво-во number , который определен
в компоненте app. 
Компонент Number вызовите внутри (в конце) компонента app
-->
  <app-number [number]="number"/>
</div>
