<div
  [class]="name"
  [style.color]="number > 9 ? 'red' : 'green'"
  [id]="'elem_+number'"
>
  {{ title }}

  <!-- <h2 *ngIf="number < 10">Hello Angular!</h2> -->

  @if (number < 10) {
  <h2>Hello Angular!</h2>
  } @else {
  <h2>Test Value</h2>
  }

  <!-- <ul>
    <li *ngFor="let elem of array; let i = index">
      {{ elem }}
    </li>
  </ul> -->

  <ul>
    @for (elem of array; track $index) {
    <li>{{ elem }}</li>
    {{
      $index
    }}
    } @empty {
    <li>empty</li>
    }
  </ul>

  <ul>
    @for (user of users; track user.id) {
    <li>
      {{ user.name }}
    </li>
    }
  </ul>
</div>

<h3></h3>
